<!-- Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <%- res.redirect('/') %>
<% } %>

<%- messages() %> <!-- Flash messages -->

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Registration Form -->
<form id="registrationForm" action="/account/register" method="POST" class="registration-form">
  
  <!-- First Name -->
    <label for="account_firstname">First Name:</label>
    <input type="text" name="account_firstname" id="accountFirstname" required placeholder="Enter Your First Name" value="<%= locals.account_firstname %>">
    <br>
  <!-- Last Name -->
    <label for="account_lastname">Last Name:</label>
    <input type="text" name="account_lastname" id="account_lastname"  required placeholder="Enter Your Last Name" value="<%= locals.account_lastname %>">
    <br>
  <!-- Email Address -->
    <label for="account_email">Email Address:</label>
    <input type="email" name="account_email" id="account_email"  required placeholder="Enter Email" value="<%= locals.account_email %>">
    <br>
  <!-- Password -->
    <label for="account_password">Password:</label>
    <input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" id="account_password" name="account_password" required placeholder="Enter your password">
    <button type="button" id="togglePassword" class="btn btn-secondary">Show Password</button>
    <small id="passwordRequirements">
      Password must be at least 12 characters long and include at least:
      <ul>
        <li>1 capital letter</li>
        <li>1 number</li>
        <li>1 special character</li>
      </ul>
    </small>
    <div id="passwordError" style="color:red; display:none;">Your password does not meet the requirements.</div>

  <!-- Submit Button -->
  <div class="form-group">
    <button type="submit" class="btn">Sign Up</button>
  </div>

</form>

<script>
  const form = document.getElementById('registrationForm');
  const passwordInput = document.getElementById('account_password');
  const passwordError = document.getElementById('passwordError');
  const togglePasswordButton = document.getElementById('togglePassword');

  // Toggle password visibility
  togglePasswordButton.addEventListener('click', function() {
    if (passwordInput.type === 'password') {
      passwordInput.type = 'text'; // Show the password
      togglePasswordButton.textContent = 'Hide Password';
    } else {
      passwordInput.type = 'password'; // Hide the password
      togglePasswordButton.textContent = 'Show Password';
    }
  });
</script>
